<div class="row" id="subscriptions-ui">
  <div class="col-md-6 mb-4">
    <h4>Your Subscriptions <i id="subscriptions-info-toggle" data-lucide="info" class="lucide-small ms-1" title="Show info"></i></h4>
    <ul id="subscriptions-info" class="list-unstyled small mt-2 d-none">
      <li>➕ Add products from the list on the right</li>
      <li>❌ Remove a subscription with the X button</li>
      <li>🔗 Links open the product page</li>
      <li>⏯ Pause or resume with the pause button</li>
      <li>⏰ Set start/end times for notifications</li>
    </ul>
    <div class="list-wrapper">
      <ul id="user-subscribed-list" class="list-group"></ul>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <input type="text" id="product-search" class="form-control mb-2" placeholder="Search products">
    <div class="list-wrapper">
      <ul id="all-products-list" class="list-group"></ul>
    </div>
  </div>
</div>
